.badge {
  &.badge-success,
  &.badge-danger {
    min-width: 60px;
  }
}

.loading {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.7);
  margin: 0 auto;
  text-align: center;

  .spinner-border {
    margin: 0 auto;
  }
}

table {
  tr {
    &.danger {
      color: #721c24;
      background-color: #f8d7da;
    }
    &.success {
      color: #155724;
      background-color: #d4edda;
    }
    td {
      vertical-align: middle;
    }
  }
}
