<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="m-3">Create Account</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card m-4">
        <div class="card-body">
          <form priceclass="form" [formGroup]="createAccountForm" (ngSubmit)="onSubmit()">
            <h3 class="text-info mt-3 mb-3">Create Account Form</h3>
            <div class="form-group">
              <div class="row">
                <div class="col-lg-6">
                  <input type="text" formControlName="firstName" class="form-control" id="firstName" placeholder="First Name" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                  <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <input type="text" formControlName="lastName" class="form-control" id="lastName" placeholder="Last Name" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                  <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" formControlName="email" class="form-control" id="email" placeholder="Email Address" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" formControlName="username" class="form-control" id="username" placeholder="Username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-lg-6">
                  <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm Password"
                    [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                  <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <select formControlName="rol" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.rol.errors }">
                <option value="" disabled>Rol</option>
                <option value="0">User</option>
                <option value="1">Boss</option>
                <option value="2">Financial Approver 1</option>
                <option value="3">Financial Approver 2</option>
                <option value="4">Financial Approver 3</option>
              </select>
              <div *ngIf="submitted && f.rol.errors" class="invalid-feedback">
                <div *ngIf="f.rol.errors.required">Department is required</div>
              </div>
            </div>

            <button type="submit" class="btn btn-info">Register</button>

          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="users">
      <thead>
        <tr>
          <th>Id</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Email</th>
          <th>Username</th>
          <th>Rol</th>
          <th>Password</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | async" *ngIf="users.lenght == 0">
          <td>{{ user.id }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.rol }}</td>
          <td>{{ user.password }}</td>
        </tr>
        <tr *ngIf="users.lenght > 0">
          <td colspan="7">No users</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
