<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h3 class="text-info mt-3 mb-3">Profile</h3>
  <div class="form-group">
    <div class="row">
      <div class="col-lg-6">
        <input type="text" formControlName="firstName" class="form-control" id="firstName" placeholder="First Name" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
          <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
      </div>
      <div class="col-lg-6">
        <input type="text" formControlName="lastName" class="form-control" id="lastName" placeholder="Last Name" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
          <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <input type="text" formControlName="email" class="form-control" id="email" placeholder="Email Address" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">Email is required</div>
      <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
    </div>
  </div>
  <div class="form-group">
    <input type="text" formControlName="username" class="form-control" id="username" placeholder="Username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">Username is required</div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-lg-6">
        <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>
      <div class="col-lg-6">
        <input type="password" formControlName="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm Password"
          [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
        <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
          <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
          <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <select formControlName="department" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.department.errors }">
      <option value="" disabled>Departament</option>
      <option value="Opt1">Opt1</option>
      <option value="Opt2">Opt2</option>
      <option value="Opt3">Op3</option>
      <option value="Opt4">Opt4</option>
    </select>
    <div *ngIf="submitted && f.department.errors" class="invalid-feedback">
      <div *ngIf="f.department.errors.required">Department is required</div>
    </div>
  </div>

  <button type="submit" class="btn btn-info">Save</button>

</form>
