<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">InterApro</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }">

        <ul class="navbar-nav flex-grow" *ngIf="!_userService.currentUserValue">
          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['/log-in']" routerLinkActive="active">LogIn</a>
          </li>
        </ul>

        <ul class="navbar-nav flex-grow" *ngIf="_userService.currentUserValue">
          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" *ngIf="_userService.currentUserValue.isAdmin">
            <a class="nav-link text-dark" [routerLink]="['/dashboard/admin']" routerLinkActive="active">Admin</a>
          </li>
          <li class="nav-item" *ngIf="_userService.currentUserValue.isAdmin || _userService.currentUserValue.rol === 0">
            <a class="nav-link text-dark" [routerLink]="['/dashboard/buyer']" routerLinkActive="active">
              <span *ngIf="_userService.currentUserValue.isAdmin">Buyer</span>
              <span *ngIf="_userService.currentUserValue.rol === 0">My Dashboard</span>
            </a>
          </li>
          <li class="nav-item" *ngIf="_userService.currentUserValue.isAdmin || _userService.currentUserValue.rol === 1">
            <a class="nav-link text-dark" [routerLink]="['/dashboard/boss']" routerLinkActive="active">
              <span *ngIf="_userService.currentUserValue.isAdmin">Boss</span>
              <span *ngIf="_userService.currentUserValue.rol === 1">My Dashboard</span>
            </a>
          </li>
          <li class="nav-item"
            *ngIf="_userService.currentUserValue.isAdmin || (_userService.currentUserValue.rol === 2 || _userService.currentUserValue.rol === 3 || _userService.currentUserValue.rol === 4)">
            <a class="nav-link text-dark" [routerLink]="['/dashboard/financial-approver']" routerLinkActive="active">
              <span *ngIf="_userService.currentUserValue.isAdmin">Financial Approval</span>
              <span
                *ngIf="_userService.currentUserValue.rol === 2 || _userService.currentUserValue.rol === 3 || _userService.currentUserValue.rol === 4">My
                Dashboard</span>
            </a>
          </li>
          <li class="nav-item" *ngIf="_userService.currentUserValue" (click)="logout()">
            <a href="javascript:void(0);" class="nav-link text-dark">Logout</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
</header>