<h3 class="text-info mt-3 mb-3">History</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Status</th>
      <th scope="col">Assignee</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Laptop Lenovo IdeaPad 330-15IKB 15.6'' HD, Intel Core i5-7200U 2.50GHz, 6GB, 2TB, Windows 10 Home, Gris</td>
      <td>$1500</td>
      <td><span class="badge badge-pill badge-danger">Rejected</span></td>
      <td>Apro2</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Apple MacBook Pro Retina MVVJ2E/A 16", Intel Core i7 2.60GHz, 16GB, 512GB SSD, macOS Catalina, Space Gray (Enero 2020)</td>
      <td>$3500</td>
      <td><span class="badge badge-pill badge-danger">Rejected</span></td>
      <td>Apro3</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>HP Value Receipt Printer II Impresora de Tickets, Térmica Directa, 150mm/s, Serial, USB, Negro</td>
      <td>$800</td>
      <td><span class="badge badge-pill badge-success">Approved</span></td>
      <td>Apro1</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Monitor LG 22MK430H-B LED 21.5'', Full HD, Widescreen, FreeSync, HDMI, Negro</td>
      <td>$200</td>
      <td><span class="badge badge-pill badge-success">Approved</span></td>
      <td>Apro1</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Memoria USB SanDisk IXpand Mini, 128GB, USB 3.0/Lightning, Gris/Plata</td>
      <td>$100</td>
      <td><span class="badge badge-pill badge-success">Approved</span></td>
      <td>Apro1</td>
    </tr>
  </tbody>
</table>